/build/expath-http-client-java-*.zip
/build/expath-http-client-saxon-*.xar
/build/expath-http-client-saxon-*.zip
/http-client-java/nbproject/private/
/http-client-saxon/nbproject/private/
/http-client-java/build/
/http-client-java/dist/
/http-client-saxon/build/
/http-client-saxon/dist/
target/
.idea/
*.iml
*.iws
